/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 body{
     background-color: #4e604a;
     margin: 10%;
 }
.index-container{
       height: 100%;
       background-image: url("hero.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       position:relative;
}
.list-header{
    text-align: center;
    margin: 50px;
    color: white;
}
.products-list{

    margin: 50px
}
a{
    text-decoration: none;
    
}
a:hover{
    text-decoration: none;
}
.company{
    color:  #edefec;
    text-align: center;
}
.category{
    float: left;
    height: 200px;
    border: 1px solid #717f6e;

    text-align: center;
     
}
.category-header{
  margin: 50px;
  color: #c9cfc8;
  text-shadow: 1px 1px #171c16;


}
.link-to-list, .link-to-home{
    text-align: center;
    font-size: 2rem;
    color:  #edefec;
    text-shadow: #171c16;
}