<div class="welcome bg">
    <div class="header">
        <nav class="nav">
            <%= link_to 'Products', products_list_path%>
            <%= link_to 'Categories', products_list_path%>
         </nav>       
    </div>
    <div class="container">
       <div class="hero ">
       </div>
    </div>
    <footer></footer>
    </div>      
</div>